{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-return-assign": 0
  }
}
